{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
    {# <div class="bg-white">
        <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
            <div class="text-center"> #}
            
                {# <p class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Ceci est une démo de React dans une application Symfony</p>
                 <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Ceci est une démo de React dans une application Symfony</p> #}
                {# <div {{ react_component('MyComponent', { 'fullName': 'Karim' }) }}></div>
                 <div {{ react_component('Modal',{'button': 'Karim'}) }}></div> #}
                   {# <div {{ react_component('Home') }}></div>
                   
            </div>
        </div>
    </div> #}

        <div>
        {% for item in accueil %}
            
        {% endfor %}
        <main className="response">
        <h2 >{{accueil[0].nom}}</h2>
        <h2 >{{accueil[0].metier}}</h2>
        </main>
        <div className="accueil">
         {# <img src='/media/photo.jpg' alt=''className='photo'/> #}
         <h2 className="message">{{accueil[0].description}}</h2>
           
          
         </div>
         </div>

{% endblock %}

